<li class="control-group nested-fields">
	<div class="controls">

<%= f.collection_select(:server_id, Server.all, :id, :name, {prompt: "Selecione um servidor"}, {class: "form-control"}) %>
<br />
   <%= link_to_remove_association "Remover", f, :class => 'btn btn-danger btn-sm' %>
  </div>
</li>
<br />
<br />