<div class="jumbotron" style="width:50%; margin:auto; margin-top:50px; box-shadow: 5px 5px 5px #888888;">
  <center><h1 style="font-weight:bold;">SISPERM</h1></center>
 
 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
  <center><legend>Autenticação com o LDAP(BACG)</legend></center>
    
    <label for="inputEmail" class="col-lg-2 control-label" style="font-size:20px;">Login</label>
    <div class="col-lg-10">
      <%= f.text_field :login, autofocus: true, :placeholder => 'Seu usuário', :class => 'form-control', :id => 'inputEmail' %>
    </div>

  

  
    <label for="inputPassword" class="col-lg-2 control-label" style="font-size:20px;">Senha</label>
    <div class="col-lg-10">
    <%= f.password_field :password, :placeholder => 'Sua senha', :class => 'form-control', :id => 'inputPassword' %>
    <br />
    
    </div>
    
  <br />
  <hr>
<div class="form-group">
  <%= f.submit "Autenticar", :class => 'btn btn-primary', :style => 'margin-left:330px;' %>
</div>
<% end %>
</div>
</div> 

<br />
<div class="col-lg-12"><center><p>Base Aérea de Campo Grande - Desenvolvido por: 3S Ricardo Souza | ETI</p></center></div>